	@font-face {
			font-family: "MyriadProRegular";
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
			url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
body
{
width: 1282px;
    margin: 0 auto;
    padding: 0;
    font-family: MyriadProRegular;
    color: black;
}
.header__logo{
    text-decoration: none;
}
.header__logo .header__logo__mda{
    color: #49cbff;
    font-size: 40px;
    text-decoration: none;
}
.header__logo .header__logo__ra{
    color: black;
    font-size: 40px;
     text-decoration: none;
}
.header__menu{    background-color: #35444f;
    font-size: 24px;
    text-align: center;
    padding: 31px 0;
    padding-left: 25px;
    padding-right: 25px;
}
.header__menu .header__menu__item{
    text-decoration: none;
    color: white;
    padding: 21px 40px;
    
}
.header__menu .header__menu__item:hover {
    border-left:  1px solid #ffffff;
    border-right: 1px solid #ffffff;
    box-sizing: border-box;
}
.header__menu .header__menu__item:hover {
  background: black;
}

    .grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
          text-align: center; 
}
.grow{
    margin-left: 700px;
    margin-top: -400px;
}
.sidepiece__menu {    background-color: white;
    font-size: 24px;
    text-align: left;
    padding: 31px 0;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    width: 400px;
}
.sidepiece__menu .menu_left{
    text-decoration: none;
    color: black;
    padding: 21px 40px;
    display: block;
}
.sidepiece__menu .menu_left:hover {
    border-left:  1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
    text-align: left;
}
.sidepiece__menu .menu_left:hover {
  background: grey;
    text-align: left;
}
.botoom__menu{    background-color: lightgray;
    font-size: 24px;
    text-align: left;
    padding: 31px 0;
    padding-left: 25px;
    padding-right: 25px;
}
  .botoom__menu .menu_left{
    text-decoration: none;
    color: black;
    padding: 21px 40px;
    
}
  .botoom__menu .menu_left:hover {
    border-left:  1px solid lightgray;
    border-right: 1px solid lightgray;
    box-sizing: border-box;
}
  .botoom__menu .menu_left:hover {
  background: lightgray;
      color: dodgerblue;
}
.text{
    text-align: center;
    padding-bottom: 25px;
    font-family: sans-serif
    
}